
      *{
          box-sizing: border-box;
          margin: 0%;
      }
      body{
          background-color: black;
          
      }

      nav{
        height: 60px;
        width: 100%;
        background-color: rgb(54, 54, 54);
        margin-top: 0px;
      }
      nav .patata{
          color: white;
          margin-top: -10px;
          margin-left: 15px;
          font-size: 50px;
      }

      nav a{
        margin: 17px;
        float:right;
        margin-right: 15px;
        color:white;
        font-size: 20px;
      }

      h2{
        color:white;
        margin-left: 15px;
      }

      .actividades{
          margin-top: 15px;
          display: flex;
          width: 100%;
            height: auto;
            justify-content: center;
      }
     .actividades h1{
        color: white;
        margin-top: 60px;
      }

      .actividadess{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;   
        margin-top: 60px;
      }
      .actividadess .card{
          text-align: center;
        border-radius: 25px;
        width: 250px;
        background-color: rgb(56, 56, 56);
        border: solid 7px rgb(49, 46, 46);;
        margin-left: 15px;
        color: white;
      }
      
      .planes{
          justify-content: space-around;
          align-items: center;
          text-align: center;
          display: flex;
          margin-top: 100px;
      }
      
      .planes .card{
        align-items: center;
        width: 300px;
        border-radius: 25px;
        background-color: rgb(56, 56, 56);
        color:white;
        border: 7px solid rgb(56, 56, 56) ;
        margin-bottom: 100px;
      }

      .planes .btn{
        background-color: rgb(255, 217, 0);
        color:black;
        width: 172px;
        height: 50px;
        border-radius: 25px;
        border: none;
      }

      #carouselExampleSlidesOnly{
          margin-top: 5px;
      }



     

